include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include eventsconnect *.css
recursive-include eventsconnect *.csv
recursive-include eventsconnect *.html
recursive-include eventsconnect *.ico
recursive-include eventsconnect *.js
recursive-include eventsconnect *.json
recursive-include eventsconnect *.md
recursive-include eventsconnect *.png
recursive-include eventsconnect *.py
recursive-include eventsconnect *.svg
recursive-include eventsconnect *.txt
recursive-exclude eventsconnect *.pyc
