<div class="breadcrumb">
  {% if event %}
  <a class="dark-links" href="/events">{{ _("All Courses") }}</a>
  <img class="ml-1 mr-1" src="/assets/eventsconnect/icons/chevron-right.svg">
  {% if lesson %}
  <a class="dark-links" href="/events/{{ event.name }}">{{ event.title }}</a>
  <img class="ml-1 mr-1" src="/assets/eventsconnect/icons/chevron-right.svg">
  <span class="muted-text"> {{ lesson.title }}</span>
  {% else %}
  <span class="muted-text">{{ event.title }}</span>
  {% endif %}
  {% endif %}
</div>
