<div class="{{ classes }}">
    {% if events | length %}
    <div class="event-cards-parent cards-parent">
        {% for event in events %}
        {{ widgets.CourseCard(event=event, read_only=False) }}
        {% endfor %}
    </div>

    {% else %}
    <div class="empty-state">
        <img class="icon icon-xl" src="/assets/eventsconnect/icons/comment.svg">
        <div class="empty-state-text">
            <div class="empty-state-heading">{{ _("No {0}").format(title) }}</div>
            <div class="event-meta">{{ _("There are no {0} on this site.").format(title.lower()) }}</div>
        </div>
    </div>
    {% endif %}
</div>
